.content-pane {
  background: white;
  width: 100%;
  // height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);
  height: 100%;
  position: fixed;
  top: 110vh;
  right: 0;
  line-height: 1.05;
  z-index: 80;
  -webkit-box-shadow: -9px 3px 16px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -9px 3px 16px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: var(--normal) var(--ease);
  transition: var(--normal) var(--ease);

  &.show {
    top: 0;
    bottom: 0;
  }

  .content-pane-close {
    @include close_panes;
  }

  #issue-number {
    position: absolute;
    bottom: 0;
    right: var(--wide);
    z-index: 999;
  }

  .content-pane-text {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    overflow-y: auto;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    -webkit-overflow-scrolling: touch;
    padding: 0 var(--wider) 0 var(--wider);

    @media (max-width: $mobile) {
      padding: var(--default) var(--default) 0 var(--default);
    }

    &-inner {
      min-height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .text-block {
      //      max-width: 1080px;

      //      width: 100%;
      //      padding: var(--wide);

      @media (max-width: $table_portrait) {
      }

      &-title {
        margin: 0 1rem 0 0;
      }

      &-meta {
        font-family: var(--union);
        font-size: calc(var(--body) - 2px);
        margin: var(--body) 0;

        li {
          list-style: none;
          display: inline;

          &:after {
            content: ", ";
          }

          &:last-child:before {
            content: " and ";
          }

          &:last-child:after {
            content: "";
          }

          &:nth-last-child(2):after {
            content: "";
          }

          &:first-child:before {
            content: "";
          }
        }
      }

      &-text {
        float: left;
        width: 66.6666%;
        padding-top: var(--wide);

        @media (max-width: $tablet) {
          width: 100%;
        }

        p {
          line-height: var(--single);
          font-weight: 200;

          a {
            color: inherit;
          }

          & + p {
            text-indent: 5rem;
          }

          & + h2 {
          }
        }

        figure {
          margin: var(--body) 0 var(--body) 5rem;
          display: table;

          @media (max-width: $mobile) {
            margin: var(--body) 0 var(--body) 0;
          }

          img {
            max-width: 100%;
            display: block;
            max-height: 95vh;
          }

          figcaption {
            margin: var(--caption) 0 0 0;
            font-family: var(--font-caption);
            font-family: var(--union);
            font-size: var(--caption);
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
            text-align: left;
            display: table-caption;
            caption-side: bottom;
          }
        }
        .gallery {
          figure {
            margin: var(--body) 0 var(--body) 0;
          }
        }
      }

      .bio {
        margin-top: 1rem;
        margin-left: 5rem;
      }
    }
  }

  &-support-trigger {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 80;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.5s var(--ease);
    transition: -webkit-transform 0.5s var(--ease);
    transition: transform 0.5s var(--ease);
    transition: transform 0.5s var(--ease), -webkit-transform 0.5s var(--ease);
    position: fixed;
    border: 1px solid #3f3620;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: var(--max);
    height: var(--mid);
    width: calc(25vw - calc(3 * var(--wide)));
    margin: var(--wide);
    bottom: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background: white;

    &:hover {
      border: 1px solid #ff3d00;
      color: #ff3d00;
    }

    .content-pane:not(.scrolled) & {
      -webkit-transform: translateX(-150%);
      transform: translateX(-150%);
    }
  }
}

.content-pane:not(.scrolled) .subscribe {
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
}

.subscribe {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: inline-block;
  transition: -webkit-transform 0.5s var(--ease);
  transition: transform 0.5s var(--ease);
  transition: transform 0.5s var(--ease), -webkit-transform 0.5s var(--ease);
  padding: 0.5rem;

  @media (max-width: $mobile) {
    // width: 90%;
  }
}
