main {
  .logo {}

  .__wrap_left {
    width: 25%;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    @media(max-width: $mobile) {
      width: 100%;
    }
  }

  .__wrap_right {
    position: relative;
    width: 75%;
    float: right;

    @media(max-width: $mobile) {
      width: 100%;
    }

    ul {
      list-style: none;

      li {
        margin: 0 0 2rem 0;
      }
    }
  }
}

.block {

  &_title {
    img {
      display: inline-block;
      height: 0.715em;
      //      padding: 0 0.5rem;
    }
  }
}
