.support {
  &-trigger {
    &:hover {
      border: 1px solid #ff3d00;
      color: #ff3d00;
      //            box-shadow: #FF3D00 0.1em 0.1em 0.5em;
    }
  }

  &-wrapper {
    position: fixed;
    border-color: #3f3620;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // border-radius: var(--max);
    width: calc(25vw - calc(3 * var(--wide)));
    min-width: 280px;
    // margin: var(--wide);
    bottom: 0;
    // border-radius: var(--ultra);
    background: transparent;
    min-height: 42px;

    p {
      @include centre-text;
    }
  }

  &-pane {
    font-size: var(--small);
    top: 0;
    position: fixed;
    height: 50vh;
    background: #ff3d00;
    width: 100%;
    //        display: flex;
    color: #ffffff;
    padding: var(--wide);
    left: 0;
    right: 0;
    top: 105vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    flex-direction: column;
    -webkit-transition: top var(--normal) var(--ease);
    transition: top var(--normal) var(--ease);
    z-index: 100;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    @media (max-width: $tablet) {
      // height: 100vh;
      /* Fallback for browsers that do not support Custom Properties */
      // height: calc(var(--vh, 1vh) * 100);
      height: 100%;
      top: 105vh;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &.show {
      top: 50vh;
      bottom: 0;

      @media (max-width: $tablet) {
        top: 0;
        bottom: 0;
      }
    }
  }

  &-header {
    width: 100%;
    -ms-flex-item-align: start;
    align-self: start;
    //    display: inline-block;
  }

  &-close {
    cursor: pointer;
  }

  &-text {
    //    display: inline-block;
    // -webkit-box-flex: 1;
    // -ms-flex: 1;
    // flex: 1;
    width: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0.5rem 0;
    order: 3;

    @media (max-width: $tablet) {
      //      align-self: end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    p {
      // max-width: 25vw;
      font-size: var(--small);
      color: inherit;

      @media (max-width: $tablet) {
        max-width: unset;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -ms-flex-item-align: end;
        align-self: end;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: flex;
      }

      a {
        color: inherit;
      }

      & + p {
        margin-top: var(--small);
        color: inherit;

        a {
          color: inherit;
        }
      }
    }
  }

  &-donate {
    color: #ffffff;
    background: transparent;
    font-size: var(--max);
    font-family: var(--font-header);
    //    margin-left: var(--wide);
    order: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    //    display: inline-block;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -ms-flex-item-align: auto;
    align-self: auto;
    height: calc(100% - var(--body) - var(--default));

    @media (max-width: $tablet) {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      height: auto;
    }

    &-button {
      padding: 0.15em calc(var(--bubble-size) / 2) 0;
      display: -webkit-box;

      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      white-space: nowrap;
      overflow: hidden;

      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      // cursor: pointer;
      // border: 1px solid #ffffff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      // border-radius: 99999px;
      color: inherit;
      text-decoration: none;

      &:hover {
        //        background: #C4C4C4;
        // filter: blur(5px);
      }

      @media (max-width: $tablet) {
        text-align: center;
        white-space: unset;
        border: 0;

        &:hover {
          background: none;
        }
      }
    }
  }
}

// input#mc-embedded-subscribe {
//   @media (min-width: $mobile) {
//     display: none;
//   }
//   &:hover {
//     background: #ff3d00;
//     // filter: blur(5px);
//     border-color: #ff3d00;
//     background: white;
//   }
// }
input#mc-embedded-subscribe {
  @media (min-width: $mobile) {
    display: none;
  }
  &:hover {
    background: #ff3d00;
    // filter: blur(5px);
    border-color: #ff3d00;
    background: white;
  }
}
